---
import Header from '../components/Header.tsx';
import Spacer from '../components/Spacer.tsx';
import Footer from '../components/Footer.tsx';
import BaseHead from '../components/BaseHead.tsx';
import BlogPost from '../components/BlogPost.tsx';
import Newsletter from '../components/Newsletter.tsx';

const {content} = Astro.props;
const {title, description, date, tags, tagline, slug, content: { html }, excludeNewsletter = false} = content;
// TODO@jsjoeio replace with package that generates it
const ogImageUrl = ""
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={Astro.request.canonicalURL} ogImageUrl={ogImageUrl} date={date} canonicalURL={Astro.request.canonicalURL} articleSchema />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
  </head>

  <body>
    <div class="max-w-2xl mx-auto">
      <Header />
      <main>
        <BlogPost title={title} date={date} html={html} />
      </main>

      <Spacer />
      <Spacer />
      {!excludeNewsletter && <Newsletter />}
      <Spacer />
          
      <Footer />
      
      <Spacer />
          
    </div>
  </body>
</html>

