---
import BaseLayout from '../layouts/BaseLayout.astro';
import site from '../data/site';

const title = `404 - Oh no!`
const description = `Joe Previte's 404 page. Used when a page isn't found.`
const tagline = "Couldn't find this page"
---
<BaseLayout title={title} description={description} canonicalURL={Astro.request.canonicalURL.href} excludeNewsletter tagline={tagline}>
    <h1>{title}</h1>
</BaseLayout>