---
import BaseLayout from '../layouts/BaseLayout.astro';
import site from '../data/site';
import formattedDate from '../utils/formattedDate'
import Spacer from '../components/Spacer'

const title = `${site.name}'s Blog`
const description = `${site.name}'s blog with articles on webdev, indiehacking and web3.`
const permalink = site.url;

const allPosts = Astro.fetchContent('../data/posts/*.md')
const sortedPosts = allPosts.sort((a, b) => new Date(b.date) - new Date(a.date));
---
<BaseLayout title={title} description={description} permalink={permalink} canonicalURL={Astro.request.canonicalURL.href} excludeNewsletter>
    <h1 class="text-lg">Blog</h1>
    <p class="mb-6">All the blog posts and articles I've written.</p>
    
    <section>
    
    {sortedPosts.map(post => (
      <div class="flex flex-row items-center justify-between mb-4">
        <a href={`/${post.slug}`}>
          <h3 class="font-semibold text-lg">{post.title}</h3>
        </a>
      
        <div class="flex flex-col items-end justify-center">
          <time class="text-xs mb-2 block" dateTime={machineFriendlyDate}>{formattedDate(new Date(post.date))}</time>
        </div>

      </div>
    ))}
    </section>
</BaseLayout>
