---
import BaseLayout from '../layouts/BaseLayout.astro';
import site from '../data/site';
import Counter from '../components/Counter.tsx'

const title = `${site.name}'s Blog`
const description = `${site.name}'s blog with articles on webdev, indiehacking and web3.`
const permalink = site.url;

const allPosts = Astro.fetchContent('../data/posts/*.md')
const sortedPosts = allPosts.sort((a, b) => new Date(b.date) - new Date(a.date));
---
<BaseLayout description={description} permalink={permalink} canonicalURL={Astro.request.canonicalURL.href} excludeNewsletter>
    <h1>{title}</h1>
    
    <section>search</section>
    
    <section>list of articles</section>
    
    <!-- <BlogSearchAndList allPosts={sortedPosts} /> -->
    <Counter count={1} client:visible>Hello</Counter>
</BaseLayout>
