---
import BaseLayout from '../layouts/BaseLayout.astro';
import site from '../data/site';
import {getDayGreeting} from '../utils/getDayGreeting'

const allPosts = Astro.fetchContent('../data/posts/*.md')
const sortedPosts = allPosts.sort((a, b) => new Date(b.date) - new Date(a.date));
const lastFivePosts = sortedPosts.slice(0,5)

const description = 'This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.';
const permalink = site.url;
const greeting = getDayGreeting(new Date());

const featuredArticles = [
  {
    title: "How I Launched my First Product",
    url: `/launching-first-product`,
  },
  {
    title: "How to Learn Quickly",
    url: `/learn-quickly`,
  },
  {
    title: "Understanding the Rust Ecosystem",
    url: `/rust-lang-ecosystem`,
  }
];
// How to use the Netlify Functions
// Here's an example which calls our helloWorld function
// const localURL = "https://netlify--jsjoeio.jsjoeio.coder.app"
// const prodURL = `${site.url}`
// const url = import.meta.env.NETLIFY ? prodURL : localURL
// const response = await fetch(`${url}/.netlify/functions/helloWorld`)
// console.log(await response.json())
// Gives you { message: 'Goodbye World' }
---
<BaseLayout description={description} permalink={permalink} canonicalURL={Astro.request.canonicalURL.href}>

  <section class="w-100 p-0 flex">
    <p>
      {greeting} My name's Joe and I like getting people excited to learn, particularly
      about software development.
    </p>
  </section>
  
  <section>
    <h2>Featured Articles</h2>
    <p>Articles you should check out first:</p>
    {featuredArticles.map(article => (
      <a href={article.url}>
        <h3>{article.title}</h3>
      </a>
    ))}
  </section>
  
  <section>
    <h2>Latest Articles</h2>
    <p>Here are some things I’ve written lately:</p>
    {lastFivePosts.map(article => (
      <a href={`${article.slug}`}>
        <h3>{article.title}</h3>
      </a>
    ))}
    <a href="/articles">See all articles</a>
  </section>
</BaseLayout>